@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-select .ant-select-selection-item {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}





.custom-bordered-table .ant-table-tbody > tr {
  @apply border-blue-500; /* Set the border color between rows */
}

.custom-bordered-table .ant-table-container table {
  @apply border-blue-500; /* Set the border color for the table container */
}

